<template name="wineList">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">List of all Wines</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                {{#each wines}}
                    {{> wine}}
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="wine">
    <div class="list-group-item">
        <div class="row-content">
            <div class="least-content">
                <a href="" class="btn btn-danger" id="deleteWine"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
            <p class="list-group-item-text">{{name}}</p>

        </div>
    </div>
</template>