<template name="wineList">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">List of all Wines</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row-content">
                        <p class="list-group-item-text">Maecenas</p>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="row-content">
                        <p class="list-group-item-text">Schlabber</p>
                    </div>
                </div>


                <div class="list-group-item">
                    <div class="row-content">
                        <p class="list-group-item-text">Plörre</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>